<section class="container">
    
    <div>
        <a>
            <h3>Mass Schedule</h3>
        </a>
        <dl>
            <dt>Saturday Vigil Mass</dt>
            <dd>
                5:00 PM
            </dd>
            <dt>Sunday Mass</dt>
            <dd>
                <ul>
                    <li>7:30 AM</li>
                    <li>9:30 AM</li>
                    <li>11:30 AM</li>
                    <li>5:00 PM</li>
                </ul>
            </dd>
            <dt>Weekday Mass (Monday - Saturday)</dt>
            <dd>
                8:00 AM
                <sub>
                    Miraculous Medal Devotions after Saturday morning Mass.
                </sub>
            </dd>
            <dt>Holy Days of Obligation</dt>
            <dd>
                <ul>
                    <li>8:00 AM</li>
                    <li>Noon</li>
                    <li>7:00 PM Vigil Mass</li>
                </ul>
                <sub>
                    *Special schedules for Christmas & New Year's Day
                </sub>
            </dd>
        </dl>
    </div>
 
    <div>
        <a>
            <h3>Confession</h3>
        </a>
        <dl>
            <dt>Saturday</dt>
            <dd>
                3:30-4:40 PM
            </dd>
            <dt>Eve of First Friday & Eve of Holy Day</dt>
            <dd>
                4:00-4:30 PM
            </dd>
        </dl>
    </div>
  
</section>